*{
  margin: 0;
  padding: 0;
}

.mask{
  height: 100%;
}

/* Espaçamento Superior e inferior da logo */
.container img ,btn {
  margin-top: 50px;
  margin-bottom: 80px;
  max-width: 100%;
}

/*Alinhamento da descrição do cliente*/
p{
  text-align: justify;
}

/* Espaçamento inferior do paragrafo Cliente Descrição */
.mb-3 {
  margin-bottom: 2rem !important;
}

/* Tamanho ícones redes sociais */
i{
  font-size: 2.7em;
  margin-left: 1em;
}

/* Alinhamento dos botões */
.btnLinks{
  margin-top: 4em;
  display: flex;
  align-items: center;
  align-content: center;
}

/* Responsividade */

@media screen and (max-width: 767px) {
  .container {
    text-align: center;
  }

  .mask{
    height: 100% !important;
  }

  .btnLinks{
    display: inline-grid;
  }

  .socialButtons i{
    margin-left: 0;
    margin: 30px;
    margin-top: 1em;
  }
}